# Ignore data directories and files
data/
data copy/

# Ignore model weights and output directories
weights/
output/

# Ignore editor-specific files and folders
*/.vscode/

# macOS system files
**/.DS_Store

# Sublime Text project and workspace files
*.sublime-project
*.sublime-workspace

# Ignore Python cache and related files
*/__pycache__/
*.pyc
*.egg-info/

# Ignore instance-specific configuration and secrets
config
secret
checkpoints
