{
  "data": "data",
  "data_final": "data/final",
  "data_img2_output": "data/img2turbo_output",
  "data_original": "data/original",
  "plotly_template": "plotly_white",
  "response": "data/responses.csv",
  "output":"output",
  "answer": "data/answers.csv",
  "compare": "data/compare/day_to_night"
}
